@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    /* padding-top: 72px; */
  }

  .image {
    background: url("https://s3-alpha-sig.figma.com/img/7f27/7560/5005cc8dea4835ae282958a4c13cc9c0?Expires=1693785600&Signature=kZB9blymx678ZOpQ793JvUAOaejwZhl~OVHsZagxNcGOFii2RH3ayRecSgwV90G-Q5bsAO6iOGNU3bHISNzAmsagCFWGkQmxJwsPe-X6c1Kq7IifUK-wxQD5KUEkYr4FAfNSKWFd96B~i0uRiqL24vysEGihzYwom-kdZndzUKT64hVC9VWazMlIIFQnTSeRbqgo~ZS6NZs1GH6wb9C-M8PAW~YFPrxlhYMq52X-aVCRS-YsWcYPIh0Yh5xpha2Qks1SeTOFINm-C0U~YpdkfSVztif2p7fBUFqNSbCsljHt9FC40TtKgkwnXL6T1f3CkWFYXYM1oSRWO4xgnsTVeA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
  }

  .about-image {
    background: url("https://s3-alpha-sig.figma.com/img/df39/9fbc/7d2d02daccea22da3a5cc9d56fd014d8?Expires=1693785600&Signature=NlgNMH5CpyCnUGDyh2wV-2Ac-fT7Y4H4~roA~LzUdqbDz1c6ZAD9Mi~X9RJiDkzwCDyrQHKLQ5RwoZ8HF8434YKfnzD55uzYIhT~eOV3J1f3qRq2MHROBqxAmTb9rndgCJA-NtigP4su0n-Qf2U3IkCLQ~ZkkrAFQPss57HETiyYFeRChkgq-2wkb5R5s9qiEYnhUqyQzEDzRkncAO9~mYA7aGkpI1r6fhM4hEeD5e7exV4LNm4svp32cifVDs9pPuR36u95YBybKmZxvtaftdgkE-QWkcSki6ix7J80oH8c7VyvibPTbDlH3JrAu2ZAFFq7WbRzM2KvU8W~hkP1jw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
  }

  .wrapper {
    max-width: 1326px;
    margin: 0 auto;
  }

  .custom-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  /* nav */
  /* dropdown menu */
  .dropdown li {
    padding: 7px 8px;
  }

  ul li:hover ul.dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* offer */

  .custom-card {
    flex: 1;
    border: none;
    padding: 48px 40px;
    border-radius: 28px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    transition: all 250ms linear;
  }

  .custom-card p:last-child {
    border-bottom: 1px solid #1b5b31;
  }

  .custom-card:hover {
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  }

  .custom-card:hover p.more-info {
    transform: translateX(10px);
    border: none;
    gap: 15px;
  }

  /* gallery */

  .gallery-container {
    max-height: 600px;
    overflow: hidden;
  }

  .gallery-container > img {
    filter: grayscale(0.3);
    cursor: pointer;
    transition: 0.3s;
  }

  .gallery-container > img:hover {
    filter: grayscale(0);
    transform: scale(1.05) rotate(1deg);
  }

  .gallery-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      360deg,
      #dcc1ab 0%,
      rgba(214, 183, 158, 0) 100%
    );
    inset: 0;
  }

  /* text */

  a {
    transition: all 250ms;
  }

  .footer-menu > a:hover {
    color: rgba(255, 255, 255, 0.5);
  }

  .li-link:hover {
    color: rgba(0, 0, 0, 0.5);
    transition: all 250ms;
  }

  .intro-title {
    font-size: 48px;
    line-height: 70px;
  }

  @media screen and (min-width: 600px) {
    .intro-title {
      font-size: 60px;
      line-height: 70px;
    }
  }

  .offer-text {
    max-width: 688px;
    min-width: 300px;
  }

  .contact-text {
    max-width: 600px;
    min-width: 300px;
  }

  .about-text {
    min-width: 250px;
    max-width: 500px;
  }
}
