@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  *,
  body {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
  }

  .gallery-container {
    max-height: 750px;
    max-height: 2000px;
    overflow: hidden;
  }

  .gallery-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      360deg,
      #dcc1ab 0%,
      rgba(214, 183, 158, 0) 100%
    );
    inset: 0;
  }

  .wrapper {
    max-width: 1326px;
    margin: 0 auto;
  }

  .custom-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .footer-menu > a:hover {
    color: rgba(255, 255, 255, 0.7);
    transition: all 250ms;
  }

  .nav-li > a:hover {
    color: rgba(255, 255, 255, 0.7);
    transition: all 250ms;
  }

  .intro-title {
    font-size: 60px;
    line-height: 70px;
  }

  .offer-text {
    width: 688px;
  }

  .about-text {
    min-width: 350px;
    max-width: 500px;
  }

  .custom-card {
    flex: 1;
    border: none;
    padding: 48px 40px;
    border-radius: 28px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }

  .custom-card p:last-child {
    border-bottom: 1px solid #1b5b31;
  }
}
